// VARIABLES, MIXINS, FUNCTIONS ===============================

@font1: proxima-nova, sans-serif;                       //headers
@font2: "Helvetica Neue", Helvetica, Arial,sans-serif;  // footer, paragraphs
@fontsize: 16px;
@color1: #FFFFFF;             // header
@color2: #404041;             // text color, main content background
@color3: #2AABE2;             // solid blue (cerulean)
@color4: #000000;             // footer
@color5: #333333;             // box background color med-gray
@color6: #EDEDED;             // very light grey
@color7: #66c3ea;             // button hover background
@color8: #FE9916;             // box styles
//@bordercolor: #0069A0;
//@bordercolor2: #66c3ea;       // button hover border


//===================================================


.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.filter {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.img-hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 0.25s ease;
}

.image {
  position: relative;
  color: @color4;
  height: auto;
  width: 100%;
  background-size: cover;
  border-right: 10px solid @color4;
  border-left: 10px solid @color4;
  border-bottom: 10px solid @color4;
  
  .filter; 
  
  &:hover {
    .img-hover
  }
  
  a {
    text-decoration: none;
    color:  @color1;
    font-size: @fontsize * 1.5;
    font-weight: bold;
    text-shadow: 1.5px 1.5px @color4;
    transition: color .2s linear;

    &:hover {
      color: @color8;
      text-shadow: 1.5px 1.5px @color4;
    }
    
    div.text {
      h4 {
        color: @color4;
        font-size: @fontsize * 1.3;
        font-weight: bold;
        text-align: center;
        padding-top: 15px;
        width: 100%;
        margin: 0;
        text-shadow: 0 0 transparent;
       }

       p {
        color: @color1;
        font-style: italic;
        font-weight:600;
         font-size: @fontsize;
        text-align: center;
        margin-top: 15px;
        background-color: rgba(0,0,0,0.5);
        width: 100%
        }

        div {
          text-align: center;
          padding-bottom: 10px;
        }
     }
  }
}
// end image styles



// logout etc? otherwise in templates
.button {
  height:30px; 
  width:90px;   // or 100px ie 'submit'
  background:#2AABE2; 
  border: 1px solid #0069A0; 
  font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; 
  text-transform: uppercase; 
  color: @color1; 
  font-weight: bold; 
  letter-spacing: 0.0625em
}


// center vertically -- http://learnlayout.com/flexbox.html
// no longer used on home page ?
//.vertical-container {
//  height: 50%;
//  display: -webkit-flex;
//  display: flex;
//  -webkit-align-items: center;
//          align-items: center;
//  -webkit-justify-content: center;
//          justify-content: center;
//}


.bg-lg {
  color: @color4;
  background-size: cover;
  .filter;
}

.studentsurveys {
  background-color: @color6;
  font-color: @color2;      
  padding: 20px;
  height: 1000px;  //needs to change?
}



// GLOBAL STYLES ===============================================================

// * {
//   outline: 1px dotted red;
// }

html{
    height: 100%
      width: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: @font2;
  background-image: url(../images/mtns_lg_bw.jpg);
}


.ng-scope {
    min-height: 100%;
}


div#maincontent {
  .clear;
}
  
  
// HEADER ========================================================

header {
  
  div.navbar.navbar-default.navbar-static-top {
    border-bottom: 10px solid black;
    padding-top: 10px;
    margin-bottom: 0px;
  
      .container {
        .navbar-header {

          a.navbar-brand {
            .left;
            margin-bottom: 20px;
          }
        }
      }

    
    .navbar-collapse.collapse {
      padding-top: 10px;
      margin: 0;
      width: 100%;
      ul {
        li {
          &:first-child {
            padding-right: 40px;
          }
          
          a {
            color: lighten(@color2, 10%);
            text-decoration: none;
            letter-spacing: 2px;
            font-family: @font1;
            cursor: pointer;

            &:hover {
              transition: .5s ease;
              color: @color3;
              background-color: transparent;
            }
          }
        }
      }
    }  // end navbar-collapse.collapse
    
  }  // end div.navbar.navbar-default.navbar-static-top
}  // end header styles
  




// ROUTE STYLES=========================================

// HOME.HTML STYLES ======================================================== 

div#home {
  .clear; 
  background-image: url(../images/mtns_lg_bw.jpg); 
  width: 100%; 
  height: 100%; 
  padding: 50px;
  display: -webkit-flex; 
  display: flex; 
  -webkit-align-items: center; 
  align-items: center; 
  -webkit-justify-content: center; 
  justify-content: center;

  p {
    font-family: @font1;
    text-transform: uppercase;
    font-size: @fontsize * 5;
    color: black;
    text-align: center;
//    .vertical-container;
//    vertical-align: text-bottom;
//    margin-top: 150px;
  }
}









// ADMIN CONTENT STYLES ======================================================== 

html.ng-scope {
  width: 100%;
}

.body {
  .clear;
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  
  .ng-scope {
    height: 4500px;
    width: 100%;
    padding: -10px;
    margin: 0;
  }
  
  .sidebar {
    width: 35%;
    height: 1000px;
    .left;
    padding-top: 10px;
    
  
  .boxes {
     div#box1 {
       background-image: url(../images/mtns1.1.jpg);
      .image;     
     } // end div box 1

     div#box2 {
       background-image: url(../images/mtn8.1.jpg);
        .image;
      }

      div#box3 {
        background-image: url(../images/mtns3.jpg);
        .image;
      }

      div#box4 {
        background-image: url(../images/mtns4.1.jpg);
        .image;
      }

      div#box5 {
        background-image: url(../images/mtns2.jpg);
        .image;
      }

      div#box6 {
        background-image: url(../images/mtns6.1.jpg);
        .image;
      }    

      div#box7 {
        background-image: url(../images/mtn7.1.jpg);
        .image;
      }
    }  // end boxes
  }
  // end sidebar styles

}  // end body styles



.main {
  margin-left: 20px;
  .right;
  height: 1000px;
  width: 600px;
  overflow: hidden;
  padding-top: 20px;
    
  div#content {
    width: 620px;
    overflow: scroll;
    height: 100%;
    
    .ng-scope{
      width: 100%;
      height: 100%; 
      margin: 0;
    }
  }

}  // end main styles



  

// STUDENT CONTENT STYLES =======================================================
html.ng-scope {
  height: 800px;
  width: 100%;
}

.body {
  .clear;
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding-top: 5px;
  
  .ng-scope {
    height: 1500px;
    width: 100%;
    padding: 0;
  }
  
  .studentsidebar {
    width: 30%;
    height: 100%;
    .left;
    text-align: center;
    background-color: transparent;
    background-image: url(../images/waterfall.jpg);
    background-size: cover;
    border-right: 10px solid @color4;
    border-left: 10px solid @color4;
    border-bottom: 10px solid @color4;
    padding-top: 20px;
    .filter; 
  
    &:hover {
      .img-hover
    }
    
    h3 {
      width: 80%; 
      color: @color1; 
      text-shadow: 1.5px 1.5px @color4; 
      font-family: sans-serif; 
      font-size: 2em; 
      font-weight: 700; 
      text-transform: uppercase; 
      text-align: center; 
      padding: 20px 10px; 
      background-color: rgba(0,0,0,0.5); 
      border-color: rgba(0,0,0,0.5); 
      margin: 20px auto;
    }

    
        
    button {
      width: 80%; 
      color: @color1; 
      text-shadow: 1.5px 1.5px @color4; 
      font-family: sans-serif; 
      font-size: 2em; 
      font-weight: 700; 
      text-transform: uppercase; 
      text-align: center; 
      padding: 10px; 
      background-color: rgba(0,0,0,0.5); 
      border-color: rgba(0,0,0,0.5); 
      margin: 20px 0 0 10px;
    }
    
    a {
      text-decoration: none;
      color:  @color1;
      font-size: @fontsize * 1.5;
      font-weight: bold;
      text-shadow: 1.5px 1.5px @color4;
      transition: color .2s linear;

      &:hover {
        color: @color8;
        text-shadow: 1.5px 1.5px @color4;
      }
    }
  }
  // end sidebar styles

}  // end body styles

.main {
  margin-left: 20px;
  float: right;
  height: 100%;
  width: 600px;
//  overflow: hidden;
    
  div#workspace {
    width: 620px;
    overflow: scroll;
    height: 100%;
    
    .ng-scope{
      width: 100%;
      height: 100%; 
      margin: 0;
    }
    
    h3 {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

}  // end main styles







// MEDIA QUERY TO-DO ==================================

 /*    
      home.html
        -reduce font size
        -vertically align text
    
      student
        -"new surveys" smaller font size
        -survey title smaller font size
        -change survey form max width (ca. 220px smaller)
          -test/set after backend and frontend are linked
    
      admin
        -reduce all font sizes in secodary 'menu'
        -change form max width (ca. 200px smaller)
    */


// MEDIA QUERIES =================================

/* Landscape iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  body {
    .ng-scope {
      max-height: 400px;
    }
  }
   

  // HOME.HTML STYLES ======================== 

  div#home {
    .clear;
    max-width: 568px; 
    max-height: 400px;

    .ng-scope {
      max-height: 500px;
    }

    // must change home.html template to vertically align text
    p {
      font-size: 3.5em;
      padding: 0;
      margin-top: -175px;
      margin-right: auto;
      margin-left: auto;
      background-color:rgba(0,0,0,0);
    }
  } // end div#home

    
    
// IMAGE STYLES ==========================
    
.image {
  a {
    font-size: 1em;
    
    div.text {
      h4 {
        font-size: 1em;
        color: @color1;
        text-shadow: 1px 1px @color4;
       }
       p {
         font-size: 0;
         padding: 0;
         margin: 0;
         max-height: 300px;
        }
     }
  }
}

    
  // ADMIN CONTENT STYLES ============================= 

  .body {
    .sidebar {
      width: 20%;
    
      .boxes {
       div#box1 {
        .image;     
       } // end div box 1

       div#box2 {
          .image;
        }

        div#box3 {
          .image;
        }

        div#box4 {
          .image;
        }

        div#box5 {
          .image;
        }

        div#box6 {
          .image;
        }    

        div#box7 {
          .image;
        }
    }  // end boxes
  } // end sidebar     


  .main {
    margin-left: 10px;
    width: 400px;
    height: 100%;

    div#content {
      width: 410px;
      overflow: scroll;
      height: 100%;
      
      h2 {
        font-size: 20px;
      }
    }

  }  // end main styles
}  // end body styles
     
    
    
  // STUDENT =====================================
    
html.ng-scope {
  height: 800px;
  width: 100%;
}

.body {
  .clear;
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding-top: 5px;
  
  .ng-scope {
    height: 1500px;
    width: 100%;
    padding: 0;
  }
  
  .studentsidebar {
    width: 30%;
    
    h3 {
      font-size: 1em; 
    }
        
    a {
      font-size: 1em;
    }
  } // end sidebar styles


  .main {
    margin-left: 20px;
    float: right;
    height: 100%;
    width: 390px;

    div#workspace {
      width: 410px;
      overflow: scroll;
      height: 100%;

      .ng-scope{
        width: 100%;
        height: 100%; 
        margin: 0;
      }

      h3 {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

  }  // end main styles
    
    
} // end body styles
    
} // END MEDIA QUERY PHONE ============================

/* Landscape iPad 3 & 4 */
//@media only screen 
//  and (min-device-width: 768px) 
//  and (max-device-width: 1024px) 
//  and (orientation: landscape) 
//  and (-webkit-min-device-pixel-ratio: 2) {
//
//    // no changes necessary
//}

