<!-- admin login here
  -hide #admincontent until logged in
  -show #admincontent after logged in
  -hide #admincontent on logout -->



<div class="wrapper">
  <section class="blocks clear">    
    <div class="col-left left">
      <div id="box1">
        <h4>Create</h4>
        <p>Add instructors &amp; mentors <br />
          to the available topics</p>
        <div class="info"><a ui-sref="admin.topic">Topic</a></div>  
      </div>
      <div id="box5">
        <h4>Create</h4>
        <p>Create users and add <br />
          them to a specific group</p>
        <div class="info"><a ui-sref="admin.users">Users</a></div>
      </div>
      <div id="box7">
        <h4>Create</h4>
        <p>Create a survey to send <br />
          to a specific group</p>
        <div class="info"><a ui-sref="admin.template">Template</a></div>
      </div>
      <div id="box3" class="b-filler">
        <h4></h4>        
        <div><a ui-sref="#" ></a></div>  
      </div> 
    </div> <!-- end col-left -->    
    
    
    <div class="col-mid">
      <div id="box2">
        <h4>Create</h4>
        <p>Add lecture subjects to <br />
          the available subjects</p>
        <div class="info"><a ui-sref="admin.subject">Subject</a></div>
      </div>      
      <div id="box4">
        <h4>Create</h4>
        <p>Create a recipient <br />
          group (cohort)</p>
        <div class="info"><a ui-sref="admin.group">Group</a></div>
    </div>  
    <div id="box8">
      <h4>Send</h4>
      <p>Send a survey to <br />
        a specific group</p>
      <div class="info"><a ui-sref="admin.createsurvey">Survey</a></div>
    </div>      
    <div id="box10">
      <h4>View</h4>
      <p>View results of <br />
          completed surveys</p>
      <div class="info"><a ui-sref="admin.surveys" >Surveys</a></div>
    </div> 
    </div><!-- end col-mid -->    
  </section> <!-- end blocks -->
  
   <!-- lg screen: nested views to left of boxes -->
    <div id="work" class="col-right left">
      <div id="content" ui-view></div>
    </div>
  
</div> <!-- end wrapper -->