<!-- admin login here
  -hide #admincontent until logged in
  -show #admincontent after logged in
  -hide #admincontent on logout -->

<div class="wrapper">

    <!-- {{ adminmessage }} -->

  <div id="admincontent">
    <div id="row1">
      <div id="box1" class="box color">
        <a ui-sref="topic">Create <br />
          Topic</a>
      </div>
      <div id="box2" class="box color">
        <a ui-sref="subject">Create <br />
          Subject</a>
      </div>
      <div id="box3" class="box color">
        <a ui-sref="group">Create <br />
          Group</a>
      </div>
    </div>
    <div id="row2">
      <div id="box4" class="box color">
        <a ui-sref="user">Create <br />
          User</a>
      </div>
      <div id="box5" class="box color">
        <a ui-sref="template">Create <br />
          Template</a>
      </div>
      <div id="box6" class="box color">
        <a ui-sref="survey">View <br />
          Surveys</a>
      </div>
  </div>
</div>
</div>
