<!-- if logged out, hide admin section -->
<!-- if logged in, show admin section AND show logout button-->

<!--  LOGIN -->

<div ng-hide="user == 'test'" class="auth-container">
  <div class="auth">

  <h2 style="font-weight: bold; color: black;">Login</h2>

  <form name="templateForm">     
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="username" value="test@test.com" ng-model="user" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="email" ng-model="user" required />
    </div>

      <button ng-click="submit()" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em">Submit</button>
    
    </div><!-- end auth -->
</div><!-- end auth container -->
  

<!--  =====================================================  -->

  
  <div class="body" ng-show="user == 'test'">

    <div class="sidebar">

      <div class="boxes">
        
        <div id="box1" class="image">
<!--          <img src="../../images/mtns1.1.jpg" />-->
          <div class="text">
            <h4>Create</h4>
            <p>Add instructors &amp; <br />
              mentors to the available topics</p>
            <div class="info"><a ui-sref="admin.topic">Topic</a></div>  
          </div>
        </div>

        <div id="box2" class="image">
<!--          <img src="../../images/mtn8.1.jpg" />-->
          <div class="text">
            <h4>Create</h4>
            <p>Add lecture subjects to <br />
              the available subjects</p>
            <div class="info"><a ui-sref="admin.subject">Subject</a></div>
          </div>
        </div> 

        <div id="box3" class="image">
<!--          <img src="../../images/mtns3.jpg" />-->
          <div class="text">
            <h4>Create</h4>
            <p>Create a recipient <br />
              group (cohort)</p>
            <div class="info"><a ui-sref="admin.group">Group</a></div>
          </div>
        </div> 

        <div id="box4" class="image">
<!--          <img src="../../images/mtns4.1.jpg" />-->
          <div class="text">
            <h4>Create</h4>
            <p>Create users and add <br />
              them to a specific group</p>
            <div class="info"><a ui-sref="admin.users">Users</a></div>
          </div>
        </div>      

        <div id="box5" class="image">
<!--          <img src="../../images/mtns2.jpg" />-->
          <div class="text">
            <h4>Create</h4>
            <p>Create a survey to send <br />
              to a specific group</p>
            <div class="info"><a ui-sref="admin.template">Template</a></div>
          </div>
        </div>

        <div id="box6" class="image">
<!--          <img src="../../images/mtns6.1.jpg" />-->
          <div class="text">
            <h4>Send</h4>
            <p>Send a survey to <br />
              a specific group</p>
            <div class="info"><a ui-sref="admin.createsurvey">Survey</a></div>
          </div>
        </div>  

        <div id="box7" class="image">
<!--          <img src="../../images/mtn7.1.jpg" />-->
          <div class="text">
            <h4>View</h4>
            <p>View results of <br />
                completed surveys</p>
            <div class="info"><a ui-sref="admin.surveys" >Surveys</a></div>
          </div>
        </div>
        
      </div>  <!-- end boxes -->
    </div>  <!-- end sidebar -->
      
      
      

    <div class="main">
      
      <span class="logout" style="float: left; margin-top: 20px;">
        <button type="submit" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" ng-click="logout()">
          Sign Out
        </button>
      </span>

      <br />
      <br />
      <br />

      <div id="content" ui-view></div>
      
    </div> <!-- end main -->
    

</div>  <!-- end body -->
  
  
<!--  ===================================================== -->
  
<!--  
<div class="wrapper" ng-show="user == 'test'">  
  
  <aside>
    
    <div class="grid-cell-left">
      <div id="box1">
        <h4>Create</h4>
        <p>Add instructors &amp; mentors <br />
          to the available topics</p>
        <div class="info"><a ui-sref="admin.topic">Topic</a></div>  
      </div>
      
      <div id="box2">
        <h4>Create</h4>
        <p>Add lecture subjects to <br />
          the available subjects</p>
        <div class="info"><a ui-sref="admin.subject">Subject</a></div>
      </div> 
      
      <div id="box3">
        <h4>Create</h4>
        <p>Create a recipient <br />
          group (cohort)</p>
        <div class="info"><a ui-sref="admin.group">Group</a></div>
      </div> 
      
      <div id="box4">
        <h4>Create</h4>
        <p>Create users and add <br />
          them to a specific group</p>
        <div class="info"><a ui-sref="admin.users">Users</a></div>
      </div>      
      
      <div id="box5">
        <h4>Create</h4>
        <p>Create a survey to send <br />
          to a specific group</p>
        <div class="info"><a ui-sref="admin.template">Template</a></div>
      </div>
      
      <div id="box6">
        <h4>Send</h4>
        <p>Send a survey to <br />
          a specific group</p>
        <div class="info"><a ui-sref="admin.createsurvey">Survey</a></div>
      </div>  
      
      <div id="box7">
        <h4>View</h4>
        <p>View results of <br />
            completed surveys</p>
        <div class="info"><a ui-sref="admin.surveys" >Surveys</a></div>
      </div>
      
      
      <div id="box8" class="b-filler">
        <h4>###</h4>
        <p>### <br />
          ###</p>
        <div><a ui-sref="#">#</a></div> 
      </div> 
      
      <div id="box9" class="b-filler">
        <h4>###</h4>
        <p>### <br />
          ###</p>
        <div><a ui-sref="#">#</a></div> 
      </div>
      
      <div id="box10" class="b-filler">
        <h4>###</h4>
        <p>### <br />
          ###</p>
        <div><a ui-sref="#">#</a></div> 
      </div>
      
      <div id="box11" class="b-filler">
        <h4>###</h4>
        <p>### <br />
          ###</p>
        <div><a ui-sref="#">#</a></div> 
      </div>
      
      <div id="box12" class="b-filler">
        <h4>###</h4>
        <p>### <br />
          ###</p>
        <div><a ui-sref="#">#</a></div> 
      </div>
      
      <div id="box13" class="b-filler">
        <h4>###</h4>
        <p>### <br />
          ###</p>
        <div><a ui-sref="#">#</a></div> 
      </div>

 </aside>

    
    <div class="grid-cell-right">
      <span class="logout" style="float: left; margin-top: 20px;">
        <button type="submit" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" ng-click="logout()">Sign Out</button>
      </span>
      
      <br />
      <br />
      <br />
      
      <div id="content" ui-view></div>
    </div>
 
</div>  
  
</div> 
-->
   