<div id="template" style="width: 90%;">

<h2 style="font-weight: bold; color: black;">Send a Survey</h2>

<form >     
  
  <div class="form-group">
    <label for="surveyname">Public Survey Name</label>
    <input type="text" class="form-control" id="surveyname" ng-model="survey.surveyname" required />
  </div>
  
  <div class="form-group">
    <label>Select Topic</label>
    <select class="form-control" ng-model="survey.topic" required  ng-options="topic.topicName for topic in topicsArray">
    </select>
  </div>  
  
  <div class="form-group">
    <label>Select Subject</label>
    <select class="form-control" ng-model="survey.subject" required  ng-options="topic.subject.subjectName for subject in subjectsArray">
    </select>
  </div>  
  
  <div class="form-group">
    <label>Select Template</label>
    <select class="form-control" ng-model="survey.template" required  ng-options="template.templateName for template in templateArray">
    </select>
  </div>  
    
  <div class="form-group">
    <label for="variables">Variable Replacements</label>
    <input type="text" class="form-control" id="variables" ng-model="template.variables" required />
  </div>
  
  <div id="buttons">
    <div id="buttons">
      <button type="submit" ng-click="addSurvey(survey)" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" >Submit</button>
      
      <button type="reset" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" >Reset</button>
    </div>       
  </div>    
  
</form> 
</div>
