<div id="group" style="width: 90%;">
  
  <h2 style="font-weight: bold; color: black;">Create a Group</h2>
  
  
  
  
  <form name="groupForm">     
    <div class="form-group">
      <label for="groupname">Group Name</label>
      <input type="text" class="form-control" id="groupname" ng-model="group.groupName" required />
    </div>    
    
  <!--
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="groupname" ng-model="users.name" required />
    </div>
    
    <div class="form-group">
      <label for="useremail">User Email</label>
      <input type="text" class="form-control" id="groupname" ng-model="users.email" required />
    </div>
-->
    
    <div id="buttons">
      <div id="buttons">
        <button type="submit" ng-click="addGroup(group)"  style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em">Submit</button>
        
        <button type="reset" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em">Reset</button>
      </div>       
    </div>    
    
  </form> 
</div>


