<div id="group">

  <!-- edit html below to represent the approriate object -->

  <!-- formly-form model - pass in the entire object, 'vm.model' in the egghead.io example -->
  <!-- fields are exposed on the controller (array of objects) -->
  <!-- all fields defined in the controller are displayed on the page using the HTML below -->

<!--
  <form name="vm.form" ng-submit="vm.onSubmit()" novalidate>
    <formly-form model="vm.model" fields="vm.fields"></formly-form>
    <button type="submit" class="btn btn-primary submit-button" >
  </form>
-->
  
  <div>
    
  GROUP <br />
    
  PBR&amp;B butcher banh mi, craft beer food truck cornhole bicycle rights cardigan seitan cred forage ennui beard chillwave cronut. Mumblecore yr hashtag crucifix polaroid chia. Distillery Banksy vegan, fanny pack Marfa meggings lo-fi banh mi shabby chic flannel Helvetica fingerstache. Stumptown Schlitz VHS PBR&B. Listicle organic single-origin coffee letterpress, semiotics quinoa next level banh mi. Locavore asymmetrical blog deep v, crucifix hoodie seitan Banksy Williamsburg small batch. Ennui gentrify pickled pork belly Pinterest.

Schlitz health goth crucifix, actually locavore freegan tilde selfies squid cardigan art party blog ethical butcher. Seitan organic tote bag mustache swag. Skateboard lo-fi Godard migas, actually ennui small batch XOXO wolf Thundercats direct trade chambray blog trust fund. Mumblecore wolf cred 90's chambray. Photo booth sriracha semiotics cray wolf forage put a bird on it, polaroid Godard sartorial chillwave hoodie wayfarers jean shorts Pinterest. Artisan biodiesel keffiyeh single-origin coffee Etsy, 8-bit 90's. Keffiyeh crucifix bespoke lo-fi leggings artisan.
  </div>
  
</div>
