<!-- if logged out, hide student surveys section -->
<!-- if logged in, show student surveys section AND show logout button-->


<!--  LOGIN -->

<!--
<div ng-hide="user == 'test'" style="width=80%;" class="auth-container">

  <div class="auth">
    
    <h2 style="font-weight: bold; color: black;">Login</h2>

    <form name="templateForm">     
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="username" value="test@test.com" ng-model="user" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="email" ng-model="user" required />
      </div>

      <button ng-click="submit()" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em">Submit</button>

    </div>
    
</div>
  -->

  <!--  =====================================================  -->

  
  <div class="body">    <!-- ng-show="user == 'test'" -->
  <div class="studentsidebar">  
    
    <button type="submit" ng-click="getSurveys()">New Surveys</button>
    <br />
    <br />
    
    <!-- ng-repeat (?) list of surveys -->
    
    <a ui-sref="students.opensurvey">JavaScript 101</a>
    <br />
    <a ui-sref="students.opensurvey">AngularJS</a>
    <br />
    <a ui-sref="students.opensurvey">Firebase</a>
    <br />
    <a ui-sref="students.opensurvey">Mongo DB</a>
    
    
  </div>  <!-- end sidebar -->
    
    
    

<!--    how to get surveys to open here need ui-sref in #list? configure that in the controller? (all surveys clicked have ui-sref="students.opensurvey" and open below?-->
  
  <div class="main">
      
    <span class="logout" style="float: left; margin-top: 20px;">
      <button type="submit" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" ng-click="logout()">
        Sign Out
      </button>
    </span>

    <br />
    <br />
    <br />

    <div id="workspace" ui-view></div>

  </div> <!-- end main -->
  

</div>