  <div class="body">   
    
    <div class="studentsidebar">  

      <div>   
        <button ng-click="takeSurveys()" style="color: white; font-weight:bold; font-size: 1.5em; text-align: center; background-color: rgba(0,0,0,0.5); border: rgba(0,0,0,0.5); height:3em; width: 80%; text-transform: uppercase;">New Surveys</button>
      </div>
      
       <br />
      
      <div style="color: white;">
        <a ng-click="changeSelectedSurvey(newSurvey)" ui-sref="students.opensurvey" ng-repeat="newSurvey in newSurveys">            
          {{ newSurvey.publicName }}<br />
          {{ newSurvey.description }}<br />
          <br />
        </a>
      </div>

      <p ng-show="openSurveys.length === 0">You have no available surveys at this time</p>
 
    </div>  <!-- end sidebar -->
    
    
  <div class="main">
      <!--
    <span class="logout" style="float: left; margin-top: 20px;">
      <button type="submit" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" ng-click="logout()">
        Sign Out
      </button>
    </span>
-->
    <div id="newsurveycontent" ui-view> 
<!-- display open survey here -->
    </div>
  

  </div> <!-- end main -->  

</div>  <!-- end body -->