<div id="subject">

  <!-- edit html below to represent the approriate object -->

  <!-- formly-form model - pass in the entire object, 'vm.model' in the egghead.io example -->
  <!-- fields are exposed on the controller (array of objects) -->
  <!-- all fields defined in the controller are displayed on the page using the HTML below -->

    <form name="vm.form" ng-submit="vm.onSubmit()" novalidate>
      <formly-form model="vm.model" fields="vm.fields"></formly-form>
      <button type="submit" class="btn btn-primary submit-button" >
    </form>

</div>
