<!--

<div class="wrapper">
	
	<div class="form-group">
		<label for="topic-select">Topic</label>
		<select ng-model="selectedTopic" ng-options="topic as topic.topicName for topic in topics" name="topic-select" class="form-control"></select>

		<div ng-show="selectedTopic" class="form-group">
			<label for="subject-selection">Subject</label>
			<select ng-change="findQuestions(selectedSubject.results, parsedSurveys)" ng-model="selectedSubject" ng-options="subject as (subject.subjectName + ', ' + (subject.date | date) + ', ' + subject.recipientGroup.groupName) for subject in selectedTopic.subjects" class="form-control" name="subject-selection"></select>
		</div>

	</div>

	<table ng-show="selectedSubject" class="table table-striped">		

		<tr ng-repeat="result in formattedResults">
			<th>{{ result.question }}</th>
			<td ng-repeat="answer in result.answers track by $index">{{ answer }}</td>
		</tr>

	</table>

</div>

-->


<div id="subject" style="width: 90%; margin-right: 0;">
  
  <h2 style="font-weight: bold; color: black;">View Survey Results</h2>
  
  <form name="surveysForm">   
    
   <div class="form-group">
    <label>Select Topic</label>
    <select class="form-control" ng-model="survey.selectedTopic" required  ng-options="topic.topicName for topic in topicsArray" >
    </select>
  </div>  
  
  <div class="form-group">
    <label>Select Subject</label>
    <select class="form-control" ng-model="survey.subject" required  ng-options="subject for subject in survey.selectedTopic.subjects">
    </select>    
  </div> 
    
  <div id="buttons">
    <button type="submit" ng-click="getSurveys()" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" >Submit</button>     
  </div>    
    
  </form> 
  
  
  
  
<!--  display results here - not set up  -->
  	<table ng-show="survey.subject" class="table table-striped">		

		<tr ng-repeat="question in survey.selectedTemplate.questions">
			<th>{{ survey.questions }}</th>
			<td ng-repeat="answer in survey.questions.answers track by $index">{{ survey.question.answers }}</td>
		</tr>

	</table>
  
  
</div>
