<div id="topic" style="width: 90%;">
  
  <h2 style="font-weight: bold; color: black;">Create a Topic</h2>
  
  <form name="topicForm">
    <div class="form-group">
      <label for="name">Topic</label>
      <input type="text" class="form-control" id="name" ng-model="topic.topicName" required />
    </div>
    
    <div id="buttons">
      <div id="buttons">
        <button type="submit" ng-click="addTopic(topic)" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" >Submit</button>
        
        <button type="reset" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" >Reset</button>
      </div>       
    </div> 

  </form>
</div>


