<div id="users" style="width: 90%;">
  <h2 style="font-weight: bold; color: black;">Create Users</h2>
  
  <form name="usersForm" role="form">     
    <div class="form-group" id="users">
      <label>Group</label>
      <select class="form-control" ng-model="group.groupName"  ng-options="group.groupName for group in groupsArray" required>
      </select>
    </div>
    
    <!--
    <div class="form-group" style="font-weight: bold; font-size: 16px">Users</div>
    -->
    
    <div ng-repeat="user in group.users track by $index">
      <div class="form-group">
        <label for="user">User Name</label>
        <input type="text" class="form-control" id="username" ng-model="users.name" required />
      </div>
      <div class="form-group">
        <label for="useremail">User Email</label>
        <input type="text" class="form-control" id="useremail" ng-model="users.email" required />
      </div>
      
      <hr>
    </div>
    
    <button ng-click="addUser()" style="height:30px; width:35px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    
    <button ng-click="removeUser()" style="height:30px; width:35px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> 
    
    <br />
    <br />
    
    <div id="buttons">
      <button type="submit" ng-click="updateGroup(users)" style="height:30px; width:100px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" >Submit</button>
      <button type="reset" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em">Reset</button>     
    </div>    
    
  </form> 
</div>
