<div id="users" style="width: 90%;">
  <h2 style="font-weight: bold; color: black;">Create Users</h2>
  <formly-form model="model" fields="fields">
    <button type="submit" ng-click="onSubmit(model)" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em;">Save</button>
  </formly-form>

</div>






<!--
<div id="users" style="width: 90%;">
  <h2 style="font-weight: bold; color: black;">Create Users</h2>
  
  <form >     
    <div class="form-group" id="users">
      <label>Group</label>
      <select ng-model="group.groupname" required >
        <option value="WI">WI</option>
        <option value="MN">MN</option>
        <option value="IA">IA</option>
      </select>
    </div>
    <div class="form-group">
      <label for="user">User Name</label>
      <input type="username" class="form-control" id="username" ng-model="user.username" required />
    </div>
    <div class="form-group">
      <label for="useremail">User Email</label>
      <input type="text" class="form-control" id="useremail" ng-model="user.useremail" required />
    </div>
    
    <div id="buttons">
      <div id="buttons">
        <button type="submit" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em" >Submit</button>
        <button type="reset" style="height:30px; width:90px; background:#2AABE2; border: 1px solid #0069A0; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-transform: uppercase; color: white; font-weight: bold; letter-spacing: 0.0625em">Reset</button>
      </div>       
    </div>    
    
  </form> 
</div>
-->